@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
font-family: 'Josefin Slab', serif;
  background-color: #708FCF;
  color: #F0F5FF;
  margin: ;
  padding: 50px;
  line-height: 1.50;
}

h1{
font-size: 50px;
}

h2{
font-size: 30px;

}

h3{
font-size: 20px;

}

p{
  font-family: 'Montserrat', sans-serif;
}


a{
  Color: #F0F5FF;
  text-decoration:none;
  font-size: 25px;
  
}

a:hover {
  Color: #2E3C57;
  text-decoration:none;
}
